body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif"
}
.content {
    padding: 7rem 0;
}
.form-control {
    border: none;
    background: #efeded;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3;
}

.col-form-label {
    color: #000;
}

.btn,
.form-control,
.custom-select {
    height: 50px;
}

.custom-select:active,
.custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn {
    border: none;
    border-radius: 4px !important;
    background: black;
    color: white;
}

.btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.btn:hover {
    color: #fff;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

main .sty .form-group{
    margin-bottom: 1rem;
}
#message {
    resize: vertical;
}
img{
    width: 70%;
}


/* Grid */
.container{
    margin: 70px;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.row > .form-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.row > .form-group > .form-control{
    padding-left: 10px;
}