.content {
    display: flex;
    flex-wrap: wrap;
    padding: 7rem 0 !important;
}

.form-control {
    border: none;
    background: #f3f3f3;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    background: #f3f3f3;
}

.col-form-label {
    color: #000;
}

.btn,
.form-control,
.custom-select {
    height: 50px;
}

.custom-select:active,
.custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn {
    border: none;
    border-radius: 4px !important;
}

.btn.btn-primary {
    background: #000;
    color: #fff;
    padding: 15px 20px;
}

.btn:hover {
    color: #fff;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 1rem;
}

#message {
    resize: vertical;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 400px;
}

.gmap_iframe {
    width: 600px !important;
    height: 400px !important;
}